{% extends "layout.html" %}

{% block content %}
  <h1> Tatianna's Basketball
    Shop For Jocks</h1>
  <div class="container">
    <div class="nav">
      <h2>Tati's</h2>
      <ul>
        <li>Sign up</li>
        <li>Search Basketball Gear</li>
        <li>Reserve Basketball Workout</li>
        <li>About Us</li>
      </ul>
    </div>
    <div class="main">
      <h1>Tatianna's Basketball Shop </h1>
      <h3>Just do it.</h3>
      <p> Need the latest and greatest basketball gear? Well you've come to the right place! Check out the rest of the website for our deals.
    </div>
    <img alt width="300" height="250"
         src="https://www.spalding.com/shop/basketballs/nba-game-ball-replica-basketball/IN.74875E.0.0.0.0.html"/>
      <p> Basketball is one of the most famous sports in the world. There are leagues all around the world, the most popular being in the United States. </p>
     <p>  The popular leagues are known as The National Basketball Association for Men and the Women's National Basketball Association for the women. </p>
    <p> The NBA is made up of 30 teams all around the US, the WNBA is made up of 12 teams in major cities. </p>

    <p> Want to visit Tatianna's Basketball shop? Click <a href="cities.html">here</a> to figure out what city our closest stores are in! </p>


    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
      </thead>
      <tbody>


      <tr>
        <th scope="row">1</th>
        <td>Kobe</td>
        <td>Bryant</td>
        <td>@KobeBryant</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>LeBron</td>
        <td>James</td>
        <td>@TheKing23</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Bird</td>
        <td>@Lbird</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Lisa</td>
        <td>Leslie</td>
        <td>@LisaLeslie</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Elena </td>
        <td>Delle-Donne</td>
        <td>@EDD</td>
      </tr>






      </tbody>
    </table>





    {% endblock %}
