{% extends "layout.html" %}

{% block content %}
  <h1> Tatianna's Basketball
    Shop For Jocks</h1>
  <div class="container">
    <div class="nav">
      <h2>Tati's</h2>
      <ul>
        <li>Sign up</li>
        <li>Search Basketball Gear</li>
        <li>Reserve Basketball Workout</li>
        <li>About Us</li>
      </ul>
    </div>
    <div class="main">
      <h1>Tatianna's Basketball Shop </h1>
      <h3>Just do it.</h3>
      <p> Need the latest and greatest basketball gear? Well you've come to the right place! Check out the rest of the website for our deals.
    </div>
    <img alt width="300" height="250"
         src="https://www.spalding.com/shop/basketballs/nba-game-ball-replica-basketball/IN.74875E.0.0.0.0.html"/>
    <p> Basketball is one of the most famous sports in the world. There are leagues all around the world with the most popular being in the United States called the National Basketball Association for men and the Women's National Basketball Association. </p>

      

{% endblock %}
